@model EZJOB.Models.Dashboard
@{
    Layout = null;
    var open = Model.Opn;
    var hold = Model.Hold;
    var close = Model.Closed;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/CSS/salert.css" rel="stylesheet" />
    <script src="~/JS/sweetalert.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        body {
            margin-top: 20px;
            /*background-repeat: no-repeat;*/
            background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
        }

        .shadow {
            box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .bg-light {
            background-color: #f7f8fa !important;
        }

        .bg-primary, .btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .badge-primary, .nav-pills .nav-link.active, .pagination .active a, .custom-control-input:checked ~ .custom-control-label:before, #preloader #status .spinner > div, .social-icon li a:hover, .back-to-top:hover, .back-to-home a, ::selection, #topnav .navbar-toggle.open span:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots.clickable .owl-dot:hover span, .watch-video a .play-icon-circle, .sidebar .widget .tagcloud > a:hover, .flatpickr-day.selected, .flatpickr-day.selected:hover, .tns-nav button.tns-nav-active, .form-check-input.form-check-input:checked {
            background-color: #6dc77a !important;
        }

        .badge {
            padding: 5px 8px;
            border-radius: 3px;
            letter-spacing: 0.5px;
            font-size: 12px;
        }

        .btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
            box-shadow: 0 3px 7px rgb(109 199 122 / 50%) !important;
        }

        .btn-primary, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .bg-soft-primary .border, .alert-primary, .alert-outline-primary, .badge-outline-primary, .nav-pills .nav-link.active, .pagination .active a, .form-group .form-control:focus, .form-group .form-control.active, .custom-control-input:checked ~ .custom-control-label:before, .custom-control-input:focus ~ .custom-control-label::before, .form-control:focus, .social-icon li a:hover, #topnav .has-submenu.active.active .menu-arrow, #topnav.scroll .navigation-menu > li:hover > .menu-arrow, #topnav.scroll .navigation-menu > li.active > .menu-arrow, #topnav .navigation-menu > li:hover > .menu-arrow, .flatpickr-day.selected, .flatpickr-day.selected:hover, .form-check-input:focus, .form-check-input.form-check-input:checked, .container-filter li.active, .container-filter li:hover {
            border-color: #6dc77a !important;
        }

            .bg-primary, .btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .badge-primary, .nav-pills .nav-link.active, .pagination .active a, .custom-control-input:checked ~ .custom-control-label:before, #preloader #status .spinner > div, .social-icon li a:hover, .back-to-top:hover, .back-to-home a, ::selection, #topnav .navbar-toggle.open span:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots.clickable .owl-dot:hover span, .watch-video a .play-icon-circle, .sidebar .widget .tagcloud > a:hover, .flatpickr-day.selected, .flatpickr-day.selected:hover, .tns-nav button.tns-nav-active, .form-check-input.form-check-input:checked {
                background-color: #6dc77a !important;
            }

        .btn {
            padding: 8px 20px;
            outline: none;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.5px;
            transition: all 0.3s;
            font-weight: 600;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #6dc77a !important;
            border: 1px solid #6dc77a !important;
            color: #fff !important;
            box-shadow: 0 3px 7px rgb(109 199 122 / 50%);
        }

        a {
            text-decoration: none;
        }

        .counter-box {
            display: block;
            background: #f6f6f6;
            padding: 40px 20px 37px;
            text-align: center;
            padding-bottom: 20px !important;
            padding-top: 20px !important;
        }

            .counter-box p {
                margin: 5px 0 0;
                padding: 0;
                color: #909090;
                font-size: 15px;
                font-weight: 500
            }

            .counter-box i {
                font-size: 60px;
                margin: 0 0 15px;
                color: #d2d2d2
            }

        .counter {
            display: block;
            font-size: 25px;
            font-weight: 700;
            color: #666;
            line-height: 28px
        }

        .counter-box.colored {
            background: #3acf87;
        }

            .counter-box.colored p,
            .counter-box.colored i,
            .counter-box.colored .counter {
                color: #fff
            }

        .flex {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto
        }


        .card {
            background: #fff;
            border-width: 0;
            border-radius: .25rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
            margin-bottom: 1.5rem
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(19, 24, 44, .125);
            border-radius: .25rem;
            margin-top: 10%
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(19, 24, 44, .03);
            border-bottom: 1px solid rgba(19, 24, 44, .125)
        }

            .card-header:first-child {
                border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
            }

        card-footer,
        .card-header {
            background-color: transparent;
            border-color: rgba(160, 175, 185, .15);
            background-clip: padding-box
        }

        .navbar-nav .nav-link {
            color: black !important;
            font-weight: 500;
        }

        .navbar {
            background-color: aliceblue;
        }

        body {
            margin-top: 0px !important;
        }
    </style>

    <style>
        body {
            text-align: center;
        }

        .toggle {
            position: relative;
            display: block;
            /*width: 80px;*/
            width: 115px;
            height: 40px;
            padding: 3px;
            margin: auto;
            border-radius: 50px;
            cursor: pointer;
        }

        .toggle-input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .toggle-label {
            position: relative;
            display: block;
            height: inherit;
            font-size: 14px;
            background: #3c024a;
            border-radius: inherit;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 3px rgba(0, 0, 0, 0.15);
        }

            .toggle-label:before, .toggle-label:after {
                position: absolute;
                top: 50%;
                color: black;
                margin-top: -.5em;
                line-height: 1;
            }

            .toggle-label:before {
                content: attr(data-off);
                right: 10px;
                color: #fff;
            }

            .toggle-label:after {
                content: attr(data-on);
                left: 12px;
                color: #fff;
                opacity: 0;
            }

        .toggle-input:checked ~ .toggle-label {
            background: green;
        }

            .toggle-input:checked ~ .toggle-label:before {
                opacity: 0;
            }

            .toggle-input:checked ~ .toggle-label:after {
                opacity: 1;
            }

        .toggle-handle {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 38px;
            height: 38px;
            background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
            border-radius: 50%;
        }

            .toggle-handle:before {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -6px 0 0 -6px;
                width: 16px;
                height: 16px;
            }

        .toggle-input:checked ~ .toggle-handle {
            /*left: 43.5px;*/
            left: 71.5px;
            box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
        }

        .toggle-label,
        .toggle-handle {
            transition: All 0.3s ease;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="https://ezwaretechnologies.com///wp-content/uploads/2014/07/ezware_header_logo.png" alt="logo" style="width:150px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    @ViewBag.username
                </a>
                <div class="dropdown-menu" style="min-width: 0px !important; padding: 0px !important;margin:0px!important">
                    <a class="dropdown-item" href="@Url.Action("Login", "Login")">Logout</a>
                </div>
            </li>

        </ul>
    </nav>
    <div class="container">
        <p id="demo"></p>
        <div class="row" id="divduty">

            <label class="toggle">

                <input class="toggle-input" type="checkbox" id="checkbox1" @if (Model.check) { <text> checked</text>} />
                <span class="toggle-label" data-off="Duty OFF"
                      data-on="Duty ON">
                </span>
                <span class="toggle-handle"></span>
            </label>

        </div>
        <div class="row" style="display:none">

            <div class="col-md-12" style="text-align:end;margin-bottom:10px;">
                <a href="@Url.Action("Login", "Login")" class="btn btn-primary">Logout</a>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header">Chart</div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four col-6" onclick="JobDetail('Open',@Model.Opn)" style="padding-bottom: 20px;">
                <div class="counter-box colored" style="background-color: #00aba9 !important">
                    <i class="fa fa-folder-open-o" style="font-size: 20px !important; color: #fff !important"></i>
                    <span class="counter" style="color:#fff!important">@Model.Opn</span>
                    <p style="color:#fff!important">Open</p>
                </div>
            </div>
            <div class="four col-6" onclick="JobDetail('Paused',@Model.Hold)" style="padding-bottom: 20px;">
                <div class="counter-box" style="background-color: #e8c3b9 !important ">
                    <i class="fa fa-stop" style="font-size: 20px !important; color: #fff !important"></i>
                    <span class="counter" style="color:#fff!important">@Model.Hold</span>
                    <p style="color:#fff!important">Pause</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four col-6" onclick="JobDetail('Closed',@Model.Closed)" style="padding-bottom: 20px; ">
                <div class="counter-box" style=" background-color: #b91d47 !important ">
                    <i class="fa  fa-close" style="font-size: 20px !important; color: #fff !important"></i>
                    <span class="counter" style="color:#fff!important">@Model.Closed</span>
                    <p style="color:#fff!important">Close</p>
                </div>
            </div>

            <div class="four col-6" onclick="JobDetail('Inprogress',@Model.Inprogress)" style="padding-bottom: 20px; ">
                <div class="counter-box" style="background-color: #2b5797 !important">
                    <i class="fa  fa-list" style="font-size: 20px !important;color:#fff!important "></i>
                    <span class="counter" style="color:#fff!important ">@Model.Inprogress</span>
                    <p style="color:#fff!important ">Inprogress</p>
                </div>
            </div>

            <div class="four col-6" onclick="JobDetail('All',@Model.Total)" style="padding-bottom: 20px; ">
                <div class="counter-box" style="background-color: #a30ed6bd !important">
                    <i class="fa  fa-list" style="font-size: 20px !important;color:#fff!important "></i>
                    <span class="counter" style="color:#fff!important ">@Model.Total</span>
                    <p style="color:#fff!important ">All</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var lat, longt;
        var xValues = ["Open", "Pause", "Inprogress", "Closed"];
        var yValues = [@Model.Opn, @Model.Hold, @Model.Inprogress, @Model.Closed];
        var barColors = [
            "#00aba9",
            "#e8c3b9",
            "#2b5797",
            "#b91d47",
            "#1e7145"
        ];

        var ctx = document.getElementById("chart-line").getContext("2d");
        new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Job Details"
                }
            }
        });
            
        function getLocation() {
            debugger;
            if (navigator.geolocation) {
                var a = navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            debugger;
            lat = position.coords.latitude;
            longt = position.coords.longitude;
            document.getElementById("demo").innerHTML =
                "Latitude: " + lat + "<br>" +
                "Longitude: " + longt;
        }
        var successHandler = function (position) {
            lat = position.coords.latitude;
            longt = position.coords.longitude;
            //alert(position.coords.latitude);
            //alert(position.coords.longitude);
            $("#divduty").show();
        };

        var errorHandler = function (errorObj) {
            Swal.fire({
                title: "Location Alert!",
                text: "Please Check Location Service Setting....!",
                icon: "info"
            });

           // alert(errorObj.code + ": " + errorObj.message);

           // alert("something wrong take this lat " + 26.0546106);
            //alert("something wrong take this lng " + -98.3939791);

        };

        $(document).ready(function () {
            $("#divduty").hide();
          //  getLocation();
            navigator.geolocation.getCurrentPosition(
                successHandler, errorHandler,
                { enableHighAccuracy: true, maximumAge: 10000 });

            $('.counter').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });
        });


        function JobDetail(jobId,count) {

            if (count === 0) {
                Swal.fire({
                    title: "Record Alert!",
                    text: "No Record found....!",
                    icon: "info"
                });
            }
            else {
                  var url = '@Url.Action("Home1", "Home")' + '?status=' + jobId;
        window.location.href = url;
            }



        }

        $('#checkbox1').click(function () {
            debugger;
            //getLocation();
            var l = lat;
            var lo = longt;
            if ($(this).is(':checked')) {
                 var url = '@Url.Action("DutyOn", "Dashboard")'+'?lat='+l+'&longt='+lo;
        window.location.href = url;
            }
            if (!$(this).is(':checked')) {
                var url = '@Url.Action("DutyOff", "Dashboard")' + '?lat=' + l + '&longt=' + lo;
        window.location.href = url;
            }
            
        });

        function YourFuncition() {
            alert('ss');
        }
    </script>
</body>
</html>
